
 body { 
   background-image: url("paper.gif");
   padding: 50px;
   }

h1 {
    border-style: outset;
    color: rgb(0, 0, 0);
    text-align: center;
}

p {
  font-family: Arial;
  font-size: 20px;
}